.DS_Store
.env
node_modules/
humanEvaluation/node_modules/
WSI/tiles/
humanEvaluation/public/tiles/
humanEvaluation/public/gbm/
WSI/unique_ids.txt
WSI/sampled_reports.csv
dist/
humanEvaluation/dist/
.vscode/
humanEvaluation/.vscode/
