.DS_Store
.env
node_modules/
humanEvaluation/node_modules/
WSI/tiles/
humanEvaluation/public/tiles/
humanEvaluation/public/gbm/
humanEvaluation/public/wsi/
WSI/unique_ids.txt
dist/
humanEvaluation/dist/
.vscode/
humanEvaluation/.vscode/
